<template>
  <div class="box">
    <h2 class="title is-2">
      <slot name="title" />
    </h2>
    <slot />
  </div>
</template>

<style scoped>
  .box {
    width: 30vw;
    min-width: 250px;
    max-width: 400px;
    margin: 50px auto;
  }
  .title {
    text-align: center;
    color: white;
    text-shadow:
      0 1px 5px #35eb9a,
      0 2px 4px #42d392,
      0 3px 3px #42b883,
      0 4px 2px #33a06f,
      0 5px 1px #155f3e;
  }
</style>
