<script setup lang="ts">
import { ref } from 'vue'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiClose, mdiPencil } from '@mdi/js'
import TodoListItemForm from './TodoListItemForm.vue'

const props = defineProps({
  label: {
    type: String,
    required: true,
  },
  done: {
    type: Boolean,
    default: false,
  },
})

const checked = ref(props.done)
const editing = ref(false)

const emit = defineEmits<{
  (e: 'toggle', isDone: boolean): void,
  (e: 'edited', label: string): void,
  (e: 'delete'): void,
}>()

function toggleEditing(isEditing = true) {
  editing.value = isEditing
}

function submit(value: string) {
  emit('edited', value)
  toggleEditing(false)
}
</script>

<template>
  <li class="todo-list-item">
    <template v-if="!editing">
      <label class="todo-list-item-name checkbox">
        <input
          type="checkbox"
          :checked="done"
          v-model="checked"
          @change="$emit('toggle', checked)"
        />
        {{label}}
      </label>
      
      <span class="controls on-hover field has-addons buttons are-small">
        <span class="control">
          <button
            class="button is-info is-light"
            type="button"
            title="Edit item"
            @click="toggleEditing(true)"
          >
            <SvgIcon class="icon" type="mdi" :path="mdiPencil" />
          </button>
        </span>
        <span class="control">
          <button
            class="button is-danger is-light"
            type="button"
            title="Delete item"
            @click="$emit('delete')"
          >
            <SvgIcon class="icon" type="mdi" :path="mdiClose" />
          </button>
        </span>
      </span>
    </template>

    <TodoListItemForm
      :label="label"
      @submit="submit"
      @cancel="toggleEditing(false)"
      v-else
    />
  </li>
</template>

<style scoped>
  .todo-list-item {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 4px 0;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .todo-list-item:first-child {
    margin-top: 0;
  }
  .todo-list-item:last-child {
    margin-bottom: 0;
  }
  .todo-list-item-name {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 38px;
    margin: -4px 0;
  }
  .field {
    flex-wrap: nowrap;
  }
  input[type=checkbox] {
    margin: 0 12px 0 8px;
  }
  .controls.on-hover {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .controls.on-hover:focus,
  .todo-list-item:hover .controls.on-hover,
  .todo-list-item:focus-within .controls.on-hover {
    opacity: 1;
  }
  .controls.buttons,
  .controls .button {
    margin-bottom: 0;
  }
</style>
