<script setup lang="ts">
import TodoCounter from './TodoCounter.vue';
import TodoFilters from './TodoFilters.vue';
import TodoForm from './TodoForm.vue';
import TodoList from './TodoList.vue';
import BoxWithTitle from './BoxWithTitle.vue';
</script>

<template>
  <BoxWithTitle>
    <template #title>
      <em>Vue.js</em> Todo list
    </template>
    <template #default>
      <TodoForm />
      <TodoFilters />
      <TodoCounter />
      <TodoList />
    </template>
  </BoxWithTitle>
</template>
