<script setup lang="ts">
import { useTodoStore, todoStatuses } from '../stores/todo'

const todoStore = useTodoStore()

const statusesTexts = {
  [todoStatuses[0]]: 'All',
  [todoStatuses[1]]: 'Yet to be done',
  [todoStatuses[2]]: 'Done',
}
</script>

<template>
  <div class="field has-addons buttons are-small">
    <span class="control" v-for="todoStatus in todoStatuses">
      <button
        class="button"
        :class="{ 'is-primary': todoStore.filter === todoStatus }"
        @click="todoStore.updateFilter(todoStatus)">
        {{statusesTexts[todoStatus]}}
      </button>
    </span>
  </div>
</template>

<style scoped>
  .field {
    flex-wrap: nowrap;
  }
  .control {
    width: 100%;
  }
  .button {
    width: 100%;
  }
</style>
