<script setup lang="ts">
import { computed } from 'vue'
import { useTodoStore } from '../stores/todo'
import mix from '@/helpers/color-mix'

const todoStore = useTodoStore()

const isEmpty = computed(() => todoStore.todos.length === 0)

const startBgCol = '#f5f5f5'
const endBgCol = '#00d1b2'
const startCol = '#4a4a4a'
const endCol = '#ffffff'

function getCompletionRatio() {
  return todoStore.finishedTodos.length / (todoStore.todos.length || 1)
}
function getBgColor() {
  return mix(startBgCol, endBgCol, getCompletionRatio())
}
function getColor() {
  return getCompletionRatio() <= 0.5 ? startCol : endCol
}
</script>

<template>
  <div class="tags has-addons">
    <template v-if="!isEmpty">
      <span class="tag" :style="{backgroundColor: getBgColor(), color: getColor()}">
        Done {{todoStore.finishedTodos.length}}
      </span>
      <span class="tag is-primary">
        {{todoStore.todos.length}} Total
      </span>
    </template>
    <span class="tag" v-else>
      no tasks to do yet
    </span>
  </div>
</template>

<style scoped>
  .tags {
    justify-content: center;
  }
</style>
