<script setup lang="ts">
import { useTodoStore } from '../stores/todo'

const todoStore = useTodoStore()
</script>

<template>
  <ul>
    <li
      v-for="todo in todoStore.todos"
      :key="todo.id"
    >
      <label>
        <input type="checkbox" :checked="todo.done">
        {{ todo.label }}
      </label>
    </li>
  </ul>
</template>

<style scoped>

</style>
