<script setup lang="ts">
import type { Todos } from '@/Todo';

  const todos: Todos = [
    {id: "1", label: 'Sleep earlier', done: false},
    {id: "2", label: 'Learn JavaScript', done: false},
    {id: "3", label: 'Master Angular', done: false},
    {id: "4", label: 'Enjoy Coding', done: false},
    {id: "5", label: 'Understand Git', done: false},
  ]
</script>

<template>
  <ul>
    <li
      v-for="todo in todos"
      :key="todo.id"
    >
      <label>
        <input type="checkbox" :checked="todo.done">
        {{ todo.label }}
      </label>
    </li>
  </ul>
</template>

<style scoped>

</style>
