<script setup lang="ts">
import TodoList from "./TodoList.vue";
import TodoForm from "./TodoForm.vue";
import BoxWithTitle from './BoxWithTitle.vue';
</script>

<template>
  <BoxWithTitle>
    <template #title>
      <em>Vue.js</em> Todo list
    </template>
    <template #default>
      <TodoForm />
      <div class="notification is-info is-light">Filters</div>
      <div class="notification is-info is-light">Counter</div>
      <TodoList />
    </template>
  </BoxWithTitle>
</template>
