<script setup lang="ts">
import { useTodoStore } from '../stores/todo'
import TodoListItem from './TodoListItem.vue'

const todoStore = useTodoStore()
</script>

<template>
  <ul>
    <TodoListItem
      v-for="todo in todoStore.filteredTodos"
      :key="todo.id"
      :label="todo.label"
      :done="todo.done"
      @toggle="newStatus => todoStore.updateTodoStatus(todo, newStatus)"
      @delete="todoStore.removeTodo(todo)"
    />
  </ul>
</template>

<style scoped>

</style>
