<script setup lang="ts">
import { ref, onMounted } from 'vue'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiPencil, mdiUndoVariant, mdiCheckboxMarkedCircleOutline } from '@mdi/js'

const props = defineProps({
  label: {
    type: String,
    required: true,
  },
})

const newLabel = ref(props.label)
const newLabelInput = ref<HTMLInputElement>()

onMounted(() => {
  newLabelInput.value && newLabelInput.value.focus()
})

const emit = defineEmits<{
  (e: 'submit', label: string): void,
  (e: 'cancel'): void,
}>()

function submit() {
  if (!newLabel.value || newLabel.value.length < 4) return
  emit('submit', newLabel.value)
}
</script>

<template>
  <form
    @submit.prevent="submit"
    @keyup.esc="$emit('cancel')">
    <div class="field has-addons">
      <span class="control has-icons-left full-width">
        <input class="input is-small" type="text" ref="newLabelInput" v-model="newLabel" />
        <SvgIcon class="icon is-small is-left" type="mdi" :path="mdiPencil" />
      </span>

      <span class="controls field has-addons buttons are-small">
        <span class="control">
          <button
            class="button"
            type="button"
            title="Cancel edition"
            @click="$emit('cancel')"
          >
            <SvgIcon class="icon" type="mdi" :path="mdiUndoVariant" />
          </button>
        </span>
        <span class="control">
          <button
            class="button is-primary is-light"
            type="submit"
            title="Confirm edition"
            :disabled="newLabel.length < 4">
            <SvgIcon class="icon" type="mdi" :path="mdiCheckboxMarkedCircleOutline" />
          </button>
        </span>
      </span>
    </div>
  </form>
</template>

<style scoped>
  form,
  .full-width {
    width: 100%;
  }
  .field {
    flex-wrap: nowrap;
  }
  input[type=text] {
    height: 1.875em;
    padding-top: 0;
    padding-bottom: 0;
    font-size: inherit;
    line-height: 1.875em; 
  }
  .control.has-icons-left .input {
    padding-left: 32px;
  }
  .input {
    width: 100%;
  }
  .icon.is-small {
    transform: scale(0.6);
    transform-origin: center;
  }
</style>
