<script setup lang="ts">
import { useTodoStore } from '../stores/todo'
import TodoListItem from "./TodoListItem.vue"

const todoStore = useTodoStore()
</script>

<template>
  <ul>
    <TodoListItem
      v-for="todo in todoStore.filteredTodos"
      :key="todo.id"
      :label="todo.label"
      :done="todo.done"
      @toggle="newStatus => todoStore.updateTodoStatus(todo, newStatus)"
      @edited="newLabel => todoStore.updateTodoLabel(todo, newLabel)"
      @delete="todoStore.removeTodo(todo)"
    />
    <li class="notification is-info is-light" v-if="todoStore.todos.length === 0">
      You really have nothing to do...
    </li>
  </ul>
</template>

<style scoped>

</style>
