<script setup lang="ts">
import { ref } from 'vue'
import { useTodoStore } from '../stores/todo'

const todoStore = useTodoStore()

const label = ref('')

function submit() {
  todoStore.addTodo(label.value)
  label.value = ''
}
</script>

<template>
  <form class="mb-1" @submit.prevent="submit">
    <div class="field has-addons">
      <div class="control">
        <input
          class="input"
          type="text"
          v-model.trim="label"
          placeholder="Enter todo item name"
          required
        />
      </div>
      <div class="control">
        <button
          class="button is-primary"
          type="submit"
          :disabled="label.length < 4"
        >
          Create
        </button>
      </div>
    </div>
  </form> 
</template>

<style scoped>
  .control:first-child {
    width: 100%;
  }
</style>
