<script setup lang="ts">
import TodoComponent from "./components/TodoComponent.vue";
</script>

<template>
  <main>
    <TodoComponent />
  </main>
</template>

<style scoped>
  main {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
  }
</style>
