<script setup lang="ts">
import TodoList from "./TodoList.vue";
import TodoForm from "./TodoForm.vue";
</script>

<template>
  <div class="box">
    <h2 class="title is-2">Vue.js Todo list</h2>
    <TodoForm></TodoForm>
    <div class="notification is-info is-light">Filters</div>
    <div class="notification is-info is-light">Counter</div>
    <TodoList></TodoList>
  </div>
</template>

<style scoped>
  .box {
    width: 30vw;
    min-width: 250px;
    max-width: 400px;
    margin: 50px auto;
  }
  .title {
    text-align: center;
    color: white;
    text-shadow:
      0 1px 5px #35eb9a,
      0 2px 4px #42d392,
      0 3px 3px #42b883,
      0 4px 2px #33a06f,
      0 5px 1px #155f3e;
  }
</style>
